.white-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Set the background color to white */
    z-index: -1; /* Push the element to the back, behind other content */
}
/* Product Card */
.product-card{
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a{
    text-decoration: none;
}
.product-card .stock{
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
}
.product-card .product-card-img{
    max-height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.product-card .product-card-img img{
    width: 100%;
}
.product-card .product-card-body{
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price{
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}
/* Product Card End */


.product-view .product-name{
    font-size: 24px;
    color: #2874f0;
}
.product-view .product-name .label-stock{
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.product-view .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
/* Product View */

/* Style for the color boxes */
.color-box {
    display: inline-block;
    width: 80px;
    height: 20px;
    border: 1px solid #333;
    margin-right: 10px;
  }


/* Color Picker */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono:500);

html {
    background-color: #b0bec5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.container {
    padding: 1em;
}

.material-color-picker {
    display: flex;
    width: 32em;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #78909c;
    border-radius: 0.5em;
    box-shadow: 0 1em 8em rgba(black, 0.35);
    
    &__left-panel {
        z-index: 1;
    }
    
    &__right-panel {
        position: relative;
        flex-grow: 1;
        overflow: hidden;
    }
}

.color-selector { // this whole chunk could be done better/smarter
    @include list-reset;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    border-right: 0.25em solid #E0E0E0;
    
    input[type='radio'] {
        display: none;
    }
    
    label {
        position: relative;
        display: inline-block;
        padding: 0.5em 1.5em;
        cursor: pointer;
        
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            padding: 0.75em;
            background-color: currentColor;
            border-radius: 50%;
        }
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            padding: 0.5em;
            border: 0.25em solid;
            border-radius: 50%;
            
            transition: padding 250ms;
        }
    }
    
    input[type='radio']:checked + label:after {
        padding: 1em;
    }
} // end sucky chunk

.color-palette-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    //transition: transform 250ms;
    
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    
    &.js-active {
        transform: translateX(0);
    }
}

.color-palette-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 1em;
    font-weight: 400;
    color: #757575;
}

.color-palette {
    @include list-reset;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        
        margin: 0.25em 0;
        padding: 0 1em;
        border-radius: 0.25em;
        font-family: "Roboto Mono", monospace;
        
        transition: transform 250ms;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.05);
        }
    }
}

.copied-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 250ms;

    &.js-copied {
        transform: translate(-50%, -50%);
        opacity: 0.75;
    }
}
  

/* Cart or Wishlist */
.shopping-cart .cart-header{
    padding: 10px;
}
.shopping-cart .cart-header h4{
    font-size: 18px;
    margin-bottom: 0px;
}
.shopping-cart .cart-item a{
    text-decoration: none;
}
.shopping-cart .cart-item{
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    padding: 10px 10px;
    margin-top: 10px;
}
.shopping-cart .cart-item .product-name{
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.shopping-cart .cart-item .price{
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}
.shopping-cart .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}
.shopping-cart .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.shopping-cart .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}
/* Cart or Wishlist */

.checkout .form-control{
    border-radius: 0px !important;
}
.checkout .form-control:focus{
    border: 1px solid #000 !important;
    box-shadow: none !important;
}
.checkout .nav-link{
    border: 1px solid #000;
    border-radius: 0px;
    margin-bottom: 8px;
}
.checkout .tab-content{
    padding-right: 10px;
}






